* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('../imgs/img7.jpg');
  object-fit: fill;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title_container {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.input_container {
  margin-bottom: 20px;
}

.input_label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input_field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.input_field:focus {
  border-color: #007bff;
}

.submit_button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit_button:hover {
  background-color: #0056b3;
}
